# User Testing Report

User testing was conducted by Cameron Webb on October 22, 2013 between the times of 8:00 am and 11:00 am with the following participants:

- Andy Ham
- Cassie Chartrand
- Seita Goto

## Tasks

1. Check funcationality on the phone.
2. Navigate your way from different article pages.
3. Find information and choose article from section on home page.

---

## Individual Results & Observations

### Andy Ham

- He navigated throught the page and clicked on what was expected to be clicked on.
- Understood all the objectives of the task and complete them.
- Recommended rewriting the main article.
- Make a drop down menu to condense space on nav bar.
- (Maybe) adjust the nav to the right side of the page.

### Cassie Chartrand

- Navigated with ease and understanding
- Recommended adding extra information buttons for the home page articles to lead the user to the articles.
- Recommended drop down menu.
- Seems simple and straight forward enough to understand for the user.
- Works on all screen sizes.

### Seita Goto

- He did exactly what was expected for the user to do.
- Seemed a little slow looking for the articles on the home page. I may need to make thosemore obvious.
- Looks good.
- Seperate some of the articles more on the home page, this will discrimate them from just being more text on the home page and recognized as actual articles.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Everything worked and wasn't critical it was more recommendations of changes.
- Add buttons for home page articles, drop down menu.

### Serious, Causes Frustration, May Hinder Completion

- Everyone recommended; better use of buttons and space on mini articles on home page.
- etc.

### Minor, Annoying, Won’t Hinder Completion

- Buttons and drop down menus for the home page should be changed or reviewed.
