<!doctype html>
<html lang="en-ca">
<head>
<meta charset="UTF-8">
<title>Metadata</title>
	<!-- Facebook -->
	<meta property="og:type" content="article">
    <meta property="og:title" content="Title of this page">
    <meta property="og:url" content="http://fullurl.com/to-this/article.html">
    <!-- Image size: minimum 200x200; preferred 1500x1500 -->
    <meta property="og:image" content="http://domain.com/img/thing.jpg">
    <meta property="og:site_name" content="Name of this Website/Company">
    <meta property="og:description" content="small description; re-use your meta description">
    
    <!-- Twitter -->
	<meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Title of this page">
    <meta property="twitter:url" content="http://fullurl.com/to-this/article.html">
    <!-- Image size: 120x120 -->
    <meta property="twitter:image" content="http://domain.com/img/thing.jpg">
    <meta property="twitter:description" content="small description; re-use your meta description">

</head>

<body>
</body>
</html>
