<!doctype html>
<html lang="en-ca">
<head>
<meta charset="UTF-8">
<title>Metadata</title>
	<!-- Facebook -->
	<meta property="og:type" content="article">
    <meta property="og:title" content="Arctic Plants">
    <meta property="og:url" content="http://fullurl.com/to-this/article.html">
    <!-- Image size: minimum 200x200; preferred 1500x1500 -->
    <meta property="og:image" content="http://domain.com/img/thing.jpg">
    <meta property="og:site_name" content="Arctic Plants">
    <meta property="og:description" content="Beautiful and plants that are huge contributors">
    
    <!-- Twitter -->
	<meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="Arctic Plants">
    <meta property="twitter:url" content="http://fullurl.com/to-this/article.html">
    <!-- Image size: 120x120 -->
    <meta property="twitter:image" content="http://domain.com/img/thing.jpg">
    <meta property="twitter:description" content="Beautiful and plants that are huge contributors">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  
  <ul class="skiplinks">
  	<li><a href="#main">Skip to primary content</a></li>
    <li><a href="#complementary">Skip to secondary content</a></li>
    <li><a href="#navigation">Skip to Navigation</a></li>
  </ul>
  <nav role:"navigation" id="navigation">
    <div class="navbar-wrapper">
      <div class="nav-container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Arctic Vegetation</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tree/Plants <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="article.html">Spruce</a></li>
                    <li><a href="article-2.html">Dwarf Shrub</a></li>
                    <li><a href="article.html">Lavender</a></li>
                    <li><a href="article-2.html">Thyme</a></li>
                    <li><a href="article.html">Erica</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Moss/lichen <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="article.html">Black Lichen</a></li>
                    <li><a href="article.html">Map Lichen</a></li>
                    <li><a href="article.html">Orange Moss</a></li>                    
                    <li><a href="article.html">Reindeer Moss</a></li>
                    <li><a href="article.html">Red Algae</a></li>
                  </ul>
                </li>
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flowers <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="article-2.html">Moss Campion</a></li>
                    <li><a href="article-2.html">Arctic Willow</a></li>
                    <li><a href="article-2.html">Arctic Avens</a></li>                  
                    <li><a href="article-2.html">Arctic Poppy</a></li>
                    <li><a href="article-2.html">Mountain Sorrel</a></li>
                    <li><a href="article-2.html">Cotton Grass</a></li>
                    <li><a href="article-2.html">Lousewort</a></li>
                    <li><a href="article-2.html">Mastadon Flower</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

</head>

<body>
</body>

      <footer role="contentinfo">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Arctic Vegetation. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
	</div>
</html>
